/* ============ explore & reels =============== */
.explore-body,
.reels-body{background-color: rgb(250, 250, 250);}

.explore-body .container .row .col .row{
    height: 330px;
    margin-bottom: 30px;
    background-color: #ffffff;
    transition: 0.1s;
    position: relative;
    align-items: center;
    justify-content: center;
}

.explore-body .container .row .col .row:hover{
    background-color: hsla(0, 0%, 0%, 0.1);
    opacity: 50%;
}

.explore-body .icon-album,
.explore-body .icon-video{
    position: absolute;
    top: 8px;
    right: 8px;
    width: auto;
    justify-self: start;
    align-self: start;
}

.explore-body .container .row .col .row .following-comments-numbers{
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    color: white;
    width: 100%;
    margin-left: -12px;
    text-align: center;
}

.explore-body .grid-container {
    display: grid;
    grid-template-areas:
        'long short short'
        'long short short'
        'short short long'
        'short short long';
    gap: 20px;
}

.grid-container div {
    background-color: white;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0;
    font-size: 30px;
}

.explore-body .grid-item-long{
    grid-area: long;
}

.explore-body .grid-item-short{
    grid-area: short;
}

/* ============ reels =============== */
.reels-body{
    color: #ffffff;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    position: relative;
    display: flex;
	/* height: calc(100vh - 600px);
    margin-top: 100px;
    margin-bottom: 100px; */
    overflow: auto;
    scroll-snap-type: y mandatory;
}
.reels-body::-webkit-scrollbar{
    width: 0 !important;
  }

.reels-body img{
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

.reels-body .reel-element{
    /* height: 100vh; */
    height: 690px;
    scroll-snap-align: center;
}

.reels-body .icon-audio{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #dfdfdfa9;
    top: 20px;
    right: 10px;
    position: absolute;
    display: flex;
}

.reels-body .icon-audio .audio_mute{
    width: 25px;
    height: 25px;
    align-items: center;
    justify-items: center;
    margin: auto;
    display: flex;
}

.reels-body .icon-play{
    display: flex;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 40px;
    background-color: #00000050;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
}

.reels-body .icon-play img{
    display: flex;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin: 25px 0 0 16px;
}

.reels-body .video-info .row{
    max-height: 100px;
    overflow: hidden;
    overflow-y: scroll;
}

.reels-body .video_info .row div :hover{
    cursor: pointer;
}

.reels-body .reels_right_bar{
    color: black;
}

.reels-body .reels_right_bar i{
    display: block;
    font-size: xx-large;
}

.reels-body .reels_right_bar ul li{
    display: block;
    margin-bottom: 20px;
}
.reels-body .reels_right_bar li:hover{
    cursor: pointer;
    opacity: 0.5;
}

.reels-body .story{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #00000020;
}

.reels-body .story img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
}

.reels-body .video-wrap {
    margin: 0 auto;
    position: relative;
    width: 90%;
  }
.reels-body .video-wrap:after {
/* border-bottom: 1px solid red; */
content: '';
display: block;
position: absolute;
width: 100%;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}

/* ============ reels auto display as a playlist =============== */

/* .reel-element{
    animation: next_reel_change_effect 2s ease-in-out infinite;
}

@keyframes next_reel_change_effect{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-100px);
    }
} */