@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Dancing+Script:wght@700&display=swap');
/* i::before {content: "\f015";} */
.side-bar{margin: 0 31px 0 30px;}

.side-bar a{
    text-decoration: none;
    color: #000;
}
.side-bar .left-side{
    border-right: 1px solid #ddd;
    top: 0;
    left: 0;
    position: fixed;
    width: 245px;
    height: 100%;
    padding: 30px 0 0 33px;
}
.side-bar h1{
    font-size: 30px;
    font-family: 'Bangers', cursive;
    font-family: 'Dancing Script', cursive;
}
.side-bar .left-side ul{margin-top: 40px;}
.side-bar .left-side ul li{margin-bottom: 30px;}

/* ============ home =============== */
.home{
    padding-top: 30px;
    margin-left: -96px;
}
/* ============ story =============== */
.home .stories{display: flex;align-items: center;margin-top: 20px;margin-bottom: 60px;}
.home .stories .story{
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 25px;
    border: 2px solid;
}
.home .stories .story img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
}
.home .stories .story .title{
    position: absolute;
    top: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 61px;
    color: #555;
}

/* =============== posts ==================== */
/* .home .posts{display: flex;align-items: center;margin-top: 20px} */
.home .posts{width: 95%;}
.home .posts .post{display: flex;width: 100%;margin-bottom: 20px;}
.home .posts .story{
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    margin-right: 25px;
    border: 2px solid;
}
.home .posts .story img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
}
.home .posts .post .title{
    margin: 14px -14px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}
.home .posts .title:hover{color:#969696;}
.home .posts .post .title span{color: #686767;}
.home .posts .post .info{
    width: 100%;
    text-align: end;
    font-weight: 700;
    letter-spacing: 1px;
}
.home .posts .imgPost{
    width: 100%;
    height: 450px;
}
.home .posts .imgPost img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.home .posts .actions{margin: 20px 0;display: flex;}
.home .posts .actions i{font-size: 30px; padding: 0 6px;}
.home .posts .actions .save{display: flex;flex: auto;}
.home .num-likes{font-weight: 500;}
.home .post-content{display: flex;}
.home .post-content .title{font-weight: 600;cursor: pointer;margin-right: 10px;}
.home .add-comment input{
    width: 100%;
    border: none;
    outline: none;
}

/* =============== right side ========= */
.side-bar .right-side{padding: 50px 66px 0 10px;font-size:14px;}

.right-side .owner,
.right-side .persons{display: flex;width: 100%;margin-bottom: 20px;}
.right-side .persons{margin-bottom: -10px;}

.right-side .owner .story,
.right-side .persons .story{
    position: relative;
    width: 90px;
    height: 60px;
    border-radius: 50%;
    margin-right: 25px;
}
.right-side .persons .story{width: 60px;height: 45px;}

.right-side .owner .story img,
.right-side .persons .story img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
}

.right-side .owner .title,
.right-side .persons .title{width: 100%;margin: 8px -14px;}

.right-side .owner .title a,
.right-side .persons .title a{font-weight: 600;cursor: pointer;width: 100%;
}
.right-side .owner .title p,
.right-side .persons .title p{color: #686767;}

.right-side .owner .info,
.right-side .persons .info{
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(77, 151, 248);
    margin-top: 7px;
    font-size: 12px;
}

.right-side .suggested-persons .content{
    display: flex;
    font-weight: 600;
    font-size: 16px;
    margin: -12px 0px 14px 10px;
}

.right-side .suggested-persons .title{width: 100%;color: #686767;}
.right-side .suggested-persons .see-all{width: 100%;cursor: pointer;text-align: end;}
.right-side .suggested-persons .see-all:hover{color: #686767;}

/* =============== search left side offcanvas ========= */
.offcanvas .search-bar{font-size:14px;}

.search-bar ul{padding: 0; list-style-type: none;}

.search-bar .offcanvas-body .search-auto-result:hover,
.search-bar .offcanvas-body  .search-result:hover{
    background-color: rgb(250, 250, 250);
}

.search-bar .offcanvas-body .search-auto-result,
.search-bar .offcanvas-body  .search-result{
    display: flex; 
    width: 100%;
    padding: 12px; 
    margin-bottom: 20px;}
.search-bar .offcanvas-body{margin-bottom: -10px;}

.search-bar .offcanvas-body .search-auto-result .row,
.search-bar .offcanvas-body .recent-search-list .search-result .row{
    text-decoration: none;
    width: 100%;
}

.search-bar .offcanvas-body .search-auto-result .story,
.search-bar .offcanvas-body .recent-search-list .search-result .story{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* margin-right: 0px; */
}

.search-bar .offcanvas-body .search-auto-result .story img,
.search-bar .offcanvas-body .recent-search-list .search-result .story img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
}

.search-bar .offcanvas-body .search-auto-result .title-info .title p,
.search-bar .offcanvas-body .recent-search-list .search-result .title-info .title p{
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}
.search-bar .offcanvas-body .search-auto-result .title-info .info p,
.search-bar .offcanvas-body .recent-search-list .search-result .title-info .info p{
    color: #686767;
}

.search-bar .offcanvas-body .recent-search-list .recent-title a{
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(77, 151, 248);
    margin-top: 7px;
    font-size: 12px;
    text-align: end;
}

.search-bar .search{
    position: relative;
    /* box-shadow: 0 0 40px rgba(51, 51, 51, .1); */
}

.search-bar .search input{
    height: 50px;
    text-indent: 25px;
    background-color: whitesmoke;
}

/* .search-bar .search input:focus{
    box-shadow: none;
    border: 2px solid blue;
} */

.search-bar .search .fa-search{
    position: absolute;
    top: 20px;
    left: 16px;
    justify-content: center;
}

.search-bar .search .btn-close{
    position: absolute;
    top: 5px;
    right: 5px;
    justify-content: center;
    align-self: center;
    /* height: 50px;
    width: 110px;
    background: blue; */
}

