
/* ============ home =============== */
.home{
    padding-top: 30px;
    margin-left: -96px;
    position: relative;
}
/* ============ story =============== */
.home .stories{display: flex;align-items: center;margin-top: 20px;margin-bottom: 60px;}
.home .stories .box{
    position: relative;
    width: 65px;
    height: 65px;
    background:#000;
    border-radius: 50%;
    margin-right: 25px;
    overflow: hidden;
}
.home .stories .box::before{
    content: '';
    position: absolute;
    background: linear-gradient(315deg,#ffeb3b,#e2336b,#9c27b0);
    inset: -10px 0px;
}
.home .stories .box:hover::before{
    inset: -20px 0px;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.home .stories .box::after{
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
}
.home .stories .box .imgBx{
    position: absolute;
    inset: 5px;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
}
.home .stories .box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.home .stories .story .title{
    position: absolute;
    top: 114px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 61px;
    color: #555;
    font-size: 16px;
}

/* =============== posts ==================== */
.home .posts{width: 95%;}
.home .posts .post{display: flex;width: 100%;margin-bottom: 7px;position: relative;}
.home .posts .story{
    position: relative;
    width: 100px;
    height: 50px;
    background:#000;
    border-radius: 50%;
    margin-right: 25px;
    overflow: hidden;
}
.home .posts #postStory::before{
    content: '';
    position: absolute;
    background: linear-gradient(315deg,#ffeb3b,#e2336b,#9c27b0);
    inset: -10px 0px;
}
.home .posts #postStory::after{
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
}
.home .posts #postStory .imgBx{
    position: absolute;
    inset: 5px;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
}
.home .posts .story img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: fill; */
    transition: 0.5s;
}
/* .home .posts .post{position: relative;} */
.home .posts .post .title{
    margin: 14px -14px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.home .posts .title:hover{color:#969696;}
.home .posts .post .right{display: flex;width: 100%;position: relative;}
.home .posts .post .title span{color: #686767;font-size: 16xp;}
.home .posts .post .info{
    cursor: pointer;
    width: 100%;
    text-align: end;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
}
.home .posts .imgPost{width: 100%;height: 450px;/*height: 650px;*/}
.home .posts .imgPost img{width: 100%;height: 100%;border-radius: 8px;}
.home .posts .actions{position: relative;;margin: 12px 0 40px;display: flex;}
.home .posts .actions li::before{
    position: absolute;
    font-size: 30px;
    font-family: FontAwesome;
}
.home .posts .actions .like::before{content: "\f08a";padding: 0 10px 0  0;}
.home .posts .actions .comment::before{content: "\f0e5";padding: 0 0 0 50px;}
.home .posts .actions .share::before{content: "\f1e0";padding: 0 0 0 100px;}
.home .posts .actions .save::before{content: "\f097";width: 100%;text-align: end;}

.home .num-likes{font-weight: 500;font-size: 16px;}
.home .post-content{display: flex;font-size: 16px;}
.home .post-content .title{font-weight: 600;cursor: pointer;margin-right: 10px;}
.home .add-comment input{width: 100%;border: none;outline: none;font-size: 16px;}

/* =============== when hover title =============== */
.home .posts .post .infoPerson{
    display: none;
    z-index: 2;
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 90%;
    margin: 32px 0 0 6px;
    background: #fff;
    padding: 21px 0 0 0px;
    transition: all .4s;
}
.home .posts .post:hover .infoPerson{display: block;}
.home .posts .post .infoPerson .person{display: flex;padding-left: 8px;}
.home .posts .post .infoPerson .person .story{width: 80px;height: 65px;}
.home .posts .post .infoPerson .info2 .page{display: flex;gap: 60px;justify-content: center;}
.home .posts .post .infoPerson .story .imgBx img{width: 100%;height: 100%;}
.home .posts .post .infoPerson .info2 .data .stats p{font-weight: 600;margin: 0px;}
.home .posts .post .infoPerson .info2 .data .stats span{color: #686767;}
.home .posts .post .infoPerson .info2 .imgBx .row{margin: 0;}
.home .posts .post .infoPerson .info2 .imgBx .row .col-sm{
    padding: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.home .posts .post .infoPerson .info2 .imgBx{margin-top: 20px;}
.home .posts .post .infoPerson .info2 .imgBx img{width: 100%;height: 120px;}
.home .posts .post .infoPerson .info2 .follow-btn input{
    padding: 3px 0;margin: 10px 0;
    margin: 10px 4px;
    width: 44%;
    background: #dedede;
    border: 1px #e5e5e5;
    color: #000;
    font-weight: 600;
}


/* ================= actionPoints ============ */
.fixedActions{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #0000006b;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.fixedActions .actionPoints{
    position: absolute;
    border-radius: 10px;
    background: #fff;
    top: 17%;
    left: 30px;
    z-index: 2;
    width: 30%;
    transform: translate(100%, 40px);
    font-size: 16px;
}
.fixedActions .actionPoints ul{width: 100%;display: flex;flex-direction: column;padding-top: 13px;}
.fixedActions .actionPoints ul li{margin: -6px auto;cursor: pointer;}
.fixedActions .actionPoints ul .red{color: red;font-weight: 600;}


