
/* ============ home =============== */
.home{
    padding-top: 30px;
    margin-left: -96px;
}
/* ============ story =============== */
.home .stories{display: flex;align-items: center;margin-top: 20px;margin-bottom: 60px;}
.home .stories .box{
    position: relative;
    width: 65px;
    height: 65px;
    background:#000;
    border-radius: 50%;
    margin-right: 25px;
    overflow: hidden;
}
.home .stories .box::before{
    content: '';
    position: absolute;
    background: linear-gradient(315deg,#ffeb3b,#e2336b,#9c27b0);
    inset: -10px 0px;
}
.home .stories .box:hover::before{
    inset: -20px 0px;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.home .stories .box::after{
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
}
.home .stories .box .imgBx{
    position: absolute;
    inset: 5px;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}
.home .stories .box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.home .stories .story .title{
    position: absolute;
    top: 114px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 61px;
    color: #555;
}

/* =============== posts ==================== */
/* .home .posts{display: flex;align-items: center;margin-top: 20px} */
.home .posts{width: 95%;}
.home .posts .post{display: flex;width: 100%;margin-bottom: 7px;}
.home .posts .story{
    position: relative;
    width: 100px;
    height: 50px;
    background:#000;
    border-radius: 50%;
    margin-right: 25px;
    overflow: hidden;
}
.home .posts .story::before{
    content: '';
    position: absolute;
    background: linear-gradient(315deg,#ffeb3b,#e2336b,#9c27b0);
    inset: -10px 0px;
}
.home .posts .story::after{
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
}
.home .posts .story .imgBx{
    position: absolute;
    inset: 5px;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}
.home .posts .story img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.home .posts .post .title{
    margin: 14px -14px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}
.home .posts .title:hover{color:#969696;}
.home .posts .post .title span{color: #686767;}
.home .posts .post .info{
    width: 100%;
    text-align: end;
    font-weight: 700;
    letter-spacing: 1px;
}
.home .posts .imgPost{width: 100%;height: 450px;}
.home .posts .imgPost img{width: 100%;height: 100%;border-radius: 8px;}
.home .posts .actions{position: relative;;margin: 12px 0 40px;display: flex;}
.home .posts .actions li::before{
    position: absolute;
    font-size: 30px;
    font-family: FontAwesome;
}
.home .posts .actions .like::before{content: "\f08a";padding: 0 10px 0  0;}
.home .posts .actions .comment::before{content: "\f0e5";padding: 0 0 0 50px;}
.home .posts .actions .share::before{content: "\f1e0";padding: 0 0 0 100px;}
.home .posts .actions .save::before{content: "\f097";width: 100%;text-align: end;}

.home .num-likes{font-weight: 500;}
.home .post-content{display: flex;}
.home .post-content .title{font-weight: 600;cursor: pointer;margin-right: 10px;}
.home .add-comment input{width: 100%;border: none;outline: none;}

